/*font-family: 'Jura', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;

*/
:root {
  --main-font-family: "Playfair Display", serif;
  --default-font-family: "PT Sans", sans-serif;
  --background-color: #fbf9fa;
  --button-color: #ff5757;
}

h1 {
  font-family: var(--main-font-family);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0px;
}
h2 {
  font-size: 54px;
  font-family: var(--main-font-family);
  font-weight: bold;
  margin-top: 0;
  line-height: 1.2;
}
p {
  font-weight: normal;
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 30px;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--background-color);
}
.hero p {
  font-family: var(--default-font-family);

  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  color: #272142;
}
.hero h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 48px;
}
.btn-branding {
  padding: 15px 30px;
  background: var(--button-color);
  color: #fff;
  font-family: var(--default-font-family);
  font-size: 18px;
}
.btn-branding:hover {
  background: #fff;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  transition: ease-in-out 0.2s;
}

img {
  width: 700px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    text-align: center;
    padding: 0px;
  }
  .description-button {
    background: #fff;
    border: 1px solid var(--button-color);
    color: var(--button-color);
  }
}
