/*font-family: 'Jura', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: "Dancing Script", cursive;
*/
:root {
  --main-font-family: "Playfair Display", serif;
  --default-font-family: "Roboto", sans-serif;
  --background-color: #fbf9fa;
  --button-color: #ff5757;
}
body {
  margin-bottom: 48px;
}
h1 {
  font-family: var(--main-font-family);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0px;
}
h2 {
  font-size: 54px;
  font-family: var(--main-font-family);
  font-weight: bold;
  margin-top: 0;
  line-height: 1.2;
}
h6 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 26px;
}
p {
  font-weight: normal;
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  font-family: var(--default-font-family);
  font-size: 18px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--button-color);
}

.hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--background-color);
}
.hero p {
  font-family: var(--default-font-family);

  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  color: #272142;
}
.hero h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 48px;
}
.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  font-weight: normal;
}
.content h3 {
  font-size: 25px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 17px;
}
.btn-branding {
  padding: 15px 30px;
  background: var(--button-color);
  color: #fff;
  font-family: var(--default-font-family);
  font-size: 18px;
}
.btn-branding:hover {
  background: #fff;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  transition: ease-in-out 0.2s;
}

img {
  width: 700px;
}
.picture {
  width: 500px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 576px) {
  .content h3 {
    font-size: 22px;
  }
  h6 {
    font-size: 16px;
    line-height: 1.7;
  }
  nav li {
    margin-left: 5px;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .content p {
    text-align: left;
  }

  .project-description {
    text-align: center;
    padding: 0px;
  }
  .content-container {
    text-align: center;
  }
  .picture {
    padding: 0px 24px;
  }
  .description-button {
    background: #fff;
    border: 1px solid var(--button-color);
    color: var(--button-color);
  }
}
