/*font-family: 'Jura', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;

*/
:root {
  --main-font-family: "Playfair Display", serif;
  --default-font-family: "PT Sans", sans-serif;
  --background-color: #fbf9fa;
  --button-color: #ff5757;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--background-color);
}
h1 {
  font-family: var(--main-font-family);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: medium;
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  color: #272142;
}
.hero h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 48px;
}
.btn-branding {
  padding: 15px 30px;
  background: var(--button-color);
  color: #fff;
  font-family: var(--default-font-family);
}
.btn-branding:hover {
  background: var(--button-color);
}
